<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--版本编号-->
    <add key="Version" value="0.1.0" />
    <!--运营Redis服务地址-->
    <add key="MasterRedisPath" value="192.168.3.179:6379/0" />
    <!--数据库地址-->
    <add key="EFOS.Master" value="Data Source=192.168.3.179;timeout=210;Initial Catalog=EFOS.Master;User ID=sa;Password=111111" />
    <!--DasServer控制接口-->
    <add key="WebcontrolHost" value="http://192.168.3.179:5000" />
    <!--上传配置文件目标地址-->
    <add key="edasUrl" value="192.168.3.179:2121" />
    <!--登录地址-->
    <add key="login" value="login.html" />
    <!--金地集团编号-->
    <add key="JinDiBlocCode" value="002" />
    <!--App 融云聊天服务用户注册-->
    <add key="IsUseRongCloud" value="true" />
    <!--测试1--><!--
    <add key ="AppKey-RongCloud" value ="cpj2xarljnzkn"/>
    <add key ="AppSecret-RongCloud" value ="D1f3ELpD3Y74"/>-->
    <!--正式->测试2-->
    <add key="AppKey-RongCloud" value="pgyu6atqyw7hu" />
    <add key="AppSecret-RongCloud" value="LM6UB6WiLb5" />
    <!--正式--><!--
    <add key ="AppKey-RongCloud" value ="e5t4ouvpeq6aa"/>
    <add key ="AppSecret-RongCloud" value ="EQFXU9DOIOcuC"/>-->
    
    <!--App 网易云短信验证码账号信息-->
    <add key="AppKey" value="e91be9b83495c7c877ebf338cd286efe" />
    <add key="AppSecret" value="98852bfb5a93" />
    <add key="TemplateID" value="3052284" />
    
    <!--项目申报的平台编号(设置为彩生活平台)-->
    <add key="ProjectApplyPlatformCode" value="202" />
    <add key="ProjectApplyBlocCode" value="001" />
    <add key="NotMonitorPlatformCodes" value="101" />
    <!--在线率统计不监控的平台编号-->
    <add key="NotMonitorPlatformCodes" value="101,202" />
    
  </appSettings>
  
  
  <system.web>
    <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=.;Initial Catalog=ECS201707;Integrated Security=SSPI;"/>-->
    <globalization responseEncoding="utf-8" fileEncoding="utf-8" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <compilation targetFramework="4.5" debug="true">
      <buildProviders>
        <!--路由设置-->
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" executionTimeout="3600000" />
    <httpHandlers>
      <add path="Action.ashx" verb="*" validate="false" type="EFOS.Master.Business.PCAction" />
      <add path="App.ashx" verb="*" validate="false" type="EFOS.Master.Business.AppAction" />
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:3000" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" defaultResponseMode="File">
    	<remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
    <handlers>
      <add path="Action.ashx" name="PC" verb="*" type="EFOS.Master.Business.PCAction" />
      <add path="App.ashx" name="App" verb="*" type="EFOS.Master.Business.AppAction" />
      <add path="VerificationCode.ashx" name="EmsVerificationCode" verb="*" type="EFOS.Action.VerificationCodeAction" />
      <add name="*.html" verb="*" path="*.html" type="System.Web.StaticFileHandler" />
    </handlers>
    <staticContent>
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".xap" />
      <remove fileExtension=".xaml" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-font-woff" />
      <mimeMap fileExtension=".xap" mimeType="xapapplication/x-silverlight" />
      <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="login.html" />
                <add value="default.aspx" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>