<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <!--版本编号-->
    <add key="Version" value="0.1.0" />
    <!--单点登录服务器地址-->
    <add key="PassportUri" value="http://anzq:999/" />
    <!--运营数据服务地址-->
    <add key="MasterWcfUri" value="http://192.168.3.11:8000/service/wcfaction" />
    <!--平台编码-->
    <add key="PlatformCode" value="001" />
  </appSettings>
     
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <compilation targetFramework="4.0" debug="true">
      <buildProviders>
        <!--路由设置-->
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>

    <httpRuntime requestValidationMode="2.0" />
    <httpHandlers>
      <add path="Action.ashx" verb="*" type="EFOS.PCApply.Business.Action" />
    </httpHandlers>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" />
    <handlers>
      <add path="Action.ashx" name="Action" verb="*" type="EFOS.PCApply.Business.Action" />
      <add name="*.html" path="*.html" verb="*" type="html" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>

    <staticContent>
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".xap" />
      <remove fileExtension=".xaml" />

      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-font-woff" />
      
      <mimeMap fileExtension=".xap" mimeType="xapapplication/x-silverlight" />
      <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml" />
    </staticContent>
  </system.webServer>

</configuration>
