<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	
  <system.web>
    <compilation targetFramework="4.0" />
    <sessionState mode="InProc" timeout="60"></sessionState>
	<customErrors mode="Off"/>
  </system.web>
	
	<!--数据库连接-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=120.24.54.92; Database=WX; User ID=EEGrid; Pwd=EEGrid123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
 <appSettings>
   <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
   <!--数据库连接-->
	 <add key="ConnectionString" value="Data Source=120.24.54.92; Database=WX; User ID=EEGrid; Pwd=EEGrid123;"/>
   <!-- 公众号原始ID-->
   <add key="orgid" value="gh_cabb276f6515" />
   <!-- 商户支付密钥key-->
   <add key="key" value="Hietech168EegridWXPublicPlatform" />
   <!-- 商户号-->
   <add key="mch_id" value="1409626102" />
   <!-- 商户 appid -->
   <add key="wxappid" value="wx4b0a27b089285a43" />
   <!-- app secret -->
   <add key="appsect" value="ee6a97bd45080d94d1b688943e44a23a" />
   <!-- 证书地址 -->
   <add key="certPath" value="apiclient_cert.p12" />
   <!--证书密码-->
   <add key="password" value="1409626102" />
   <!--红包金额最小值-->
   <add key="min_amount" value="100" />
   <!--红包金额最大值-->
   <add key="max_amount" value="500" />
   <!--提供方名称-->
   <add key="nick_name" value="云设施" />
   <!--红包収送者名称 -->
   <add key="send_name" value="云设施网络有限公司" />
   <!--红包収放总人数-->
   <add key="total_num" value="1" />
   <!--红包祝福诧-->
   <add key="wishing" value="云设施有你更精彩" />
   <!--活动名称-->
   <add key="act_name" value="云设施答谢客户活动" />
   <!--备注-->
   <add key="remark" value="该活动最终解释权归深圳市云设施网络有限公司所有" />
   <!--商户logo的url -->
   <add key="logo_imgurl" value="" />
   <!--分享文案-->
   <add key="share_content" value="" />
   <!--分享链接-->
   <add key="share_url" value="" />
   <!--分享的图片url -->
   <add key="share_imgurl" value="" />
   <!--调用接口的机器 Ip 地址 -->
   <add key="client_ip" value="120.24.54.92" />
 </appSettings>
	
  <system.webServer>
    <handlers>
		<add path="Action.ashx" name="Action" verb="*" type="UI.Action.Action"/>
		<add path="LogOut.ashx" name="LogOut" verb="*" type="UI.Action.LogOut"/>
		<add path="VerificationCode.ashx" name="EmsVerificationCode" verb="*" type="UI.Action.VerificationCodeAction"/>
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		<remove name="OPTIONSVerbHandler" />
		<remove name="TRACEVerbHandler" />
		<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
	
</configuration>
